@import 'settings/variables.scss';
@import 'settings/mixins.scss';

a, a:visited {
  color: $text-body;
}

.logo {
  border: 1px solid #fff;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  padding: 1em;
  display: block;
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 1.429em;
  line-height: 1.4em;
  width: 105px;
  height: 105px;
  margin: 0 auto 2.5em;
  text-shadow: 5px 5px 3px rgba(9,47,67,.4);
}

.nav {
  margin-top: 3.5em;
  li {
    display: inline-block;
    margin: 0 3em;
    text-transform: lowercase;
    letter-spacing: .03em;
    font-size: 1.22em;
    font-family: $base-font-semibold;
    text-shadow: 5px 5px 3px rgba(9,47,67,.4);
    a, a:link {
      color: $link-color;
      transition: 0.3s;
      &:hover {
        color: #FADDC1;
      }
    }
  }
}

.header--home {
  background-image: url("../assets/bg-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F1EEE8;
  background-size: cover;
  min-height: 1170px;
  z-index: 1;
  color: #fff;
  text-align: center;
  .header--xlarge {
    text-shadow: 18px 18px 0px rgba(2,35,46,.5);
    margin: 0 auto;
    @include media(xsmall-up) {
      text-align: center;
      width: 100%;
      line-height: 1em;
    }
    @include media(medium-up) {
      text-align: center;
      max-width: 70%;
      color: #fff;
      line-height: 1.2em;
    }
  }
}

.header-content-wrapper {
  padding: 12em 0 0;
}

.section--internal {
  padding: 10em 0;
}

.section--centered {
  text-align: center;
}

//type//

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 700;
  color: $base-header-color;
  margin: 0 0 .6em;
  line-height: 1em;
  letter-spacing: .02em;
}

.withDescription {
  margin-bottom: .2em;
}

.body-copy--lg {
  font-size: 1.17em;
  line-height: 1.7em;
  @include media(small-down) {
    font-size: .86em;
  }
}

.header--xlarge {
  font-size: 5em;
  line-height: 1.3em;
  @include media(medium-down) {
    font-size: 4em;
  }
  @include media(small-down) {
    font-size: 3.4em;
    line-height: 1.2em;
  }
}

.header--large {
  font-size: 4em;
  text-transform: lowercase;
  @include media(medium-down) {
    font-size: 3.44em;
  }
  @include media(small-down) {
    font-size: 2.85em;
    line-height: 1.2em;
  }
}

.header--medium {
  font-size: 3.429em;
}

.header--xsmall {
  font-size: .86em;
}

b {
  font-weight: $base-font-semibold;
  color: darken($text-body, 20%);
}


//buttons//

.button, .button:visited {
  border: 2px solid $link-color;
  padding:.3em 3em .3em;
  font-family: $base-font-semibold;
  color: $link-color;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-top: 2em;
  transition: 0.3s;
  @include media(small-down) {
    font-size: .86em;
    padding:.5em 2em .4em;
  }
  &:hover {
    background-color: $link-color;
    border: 2px solid $link-color;
    color: #fff;
  }
}

.button--dark, .button--dark:visited  {
  color: darken($link-color, 10%);
  border: 2px solid $link-color;
}

.header--about {
  position: relative;
  padding-bottom: 15em;
}

.header--about--content {
  float: right;
  width: 47%;
  margin-top: 26em;
}

.object--circle {
  background-color: $orange-color;
  width: 780px;
  height: 780px;
  content: " ";
  display: block;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 400px;
  position: absolute;
  left: -345px;
  z-index: 1;
  top: 0em;
}

.img-bird {
  position: absolute;
  z-index: 2;
  width: 240px;
}

.about {
  padding-top: 4em;
  .split {
    &:last-of-type {
      padding-top: 2em;
    }
  }
  h1 {
    margin-bottom: .4em;
    padding-bottom: .5em;
    border-bottom: 4px solid $base-header-color;
  }
}

//lists//
.list--lg {
  font-size: 1.12em;
}

dl { margin-bottom: 0;}
dt, dd {display: inline-block;}
dt { margin-right: .5em; }

.list--bullet {
  li {
    margin-left: 1em;
    list-style-type: disc;
  }
}

.wrapper--projects {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4em;
}

.wrapper--projects-col {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  margin-right: 3%;
}

.wrapper--projects-col2 {
  margin-top: -5em;
}

.project {
  margin-bottom: 1.5em;
  img {
    max-width: 100%;
  }
}

.project--label {
  margin-left: .7em;
  margin-bottom: .7em;
  opacity: 0.5;
  font-weight: 300;
}

//spacing//
.margin-bottom--md {
  margin-bottom: 1.5em;
}
