@import 'settings/variables.scss';
@import 'settings/mixins.scss';

a, a:visited {
  color: $text-body;
}

.logo {
  width: 95px;
  margin-bottom: 6em;
}

.callout {
  display: block;
  font-family: $heading-font-family;
  font-style: italic;
  color: #D9CFCF;
  font-size: 1.4em;
  letter-spacing: .03em;
  margin: .6em 0 2.2em;
}

.nav {
  margin-top: 3.5em;
  li {
    display: inline-block;
    margin: 0 3em;
    text-transform: lowercase;
    letter-spacing: .03em;
    font-size: 1.22em;
    font-family: $base-font-semibold;
    text-shadow: 5px 5px 3px rgba(9,47,67,.4);
    @include media(xsmall-only) {
      margin: 0 1.5em;
    }
    a, a:link {
      color: $link-color;
      transition: 0.3s;
      &:hover {
        color: #FADDC1;
      }
    }
  }
}

.header--home {
  background-image: url("../assets/bg-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F1EEE8;
  background-size: cover;
  min-height: 1170px;
  z-index: 1;
  color: #fff;
  text-align: center;
  @include media(medium-down) {
    min-height: 900px;
  }
  .header--xlarge {
    margin: 0 auto;
    color: #fff;
    line-height: 1.2em;
    text-align: center;
    @include media(xsmall-up) {
      width: 100%;
    }
    @include media(large-down) {
      max-width: 100%;
    }
    @include media(xlarge-up) {
      max-width: 70%;
    }
  }
}

.header-content-wrapper {
  padding: 7em 0 0;
}

.section--internal {
  padding: 10em 0 0;
}

.section--centered {
  text-align: center;
}

//type//

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 700;
  color: $base-header-color;
  margin: 0 0 .6em;
  line-height: 1em;
  letter-spacing: .02em;
}

.withDescription {
  margin-bottom: .2em;
}

.body-copy--lg {
  font-size: 1.17em;
  line-height: 1.7em;
  @include media(small-down) {
    font-size: .86em;
  }
}

.header--xlarge {
  font-size: 5em;
  line-height: 1.3em;
  @include media(medium-down) {
    font-size: 4em;
  }
  @include media(small-down) {
    font-size: 3.4em;
    line-height: 1.2em;
  }
}

.header--large {
  font-size: 4em;
  text-transform: lowercase;
  @include media(medium-down) {
    font-size: 3.44em;
  }
  @include media(small-down) {
    font-size: 2.85em;
    line-height: 1.2em;
  }
}

.header--medium {
  font-size: 3.429em;
}

.header--xsmall {
  font-size: .86em;
}

b {
  font-weight: $base-font-semibold;
  color: darken($text-body, 20%);
}


//buttons//

.button, .button:visited {
  border: 1px solid #fff;
  padding: .5em 2.8em;
  font-family: $heading-font-family;
  color: #fff;
  font-size: 1.3em;
  display: inline-block;
  letter-spacing: .05em;
  margin-top: 2em;
  transition: 0.3s;
  @include media(small-down) {
    font-size: .86em;
    padding:.5em 2em .4em;
  }
  &:hover {
    background-color: $link-color;
    border: 1px solid $link-color;
    color: #fff;
  }
}

.button-group {
  margin-right: 2em;
}

.button--dark, .button--dark:visited  {
  color: darken($link-color, 10%);
  border: 2px solid $link-color;
}

.header--about {
  position: relative;
  @include media(small-down) {
    padding-top: 15em;
  }
}

.header--about--content {
  width: 47%;
  margin-top: 26em;
  @include media(medium-down) {
    width: 100%;
    margin-top: 60em;
  }
}

.object--circle {
  background-color: $orange-color;
  width: 780px;
  height: 780px;
  content: " ";
  display: block;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 400px;
  position: absolute;
  right: -305px;
  z-index: 1;
  top: 0em;
  @include media(large-down) {
    width: 650px;
    height: 650px;
    right: -275px;
  }
  @include media(medium-down) {
    width: 500px;
    height: 500px;
    right: -105px;
  }
  @include media(small-down) {
    width: 480px;
    height: 480px;
    right: -105px;
    top: 15em;
  }
}

.img-bird {
  position: absolute;
  z-index: 2;
  width: 340px;
  @include media(large-down) {
    width: 310px;
  }
  @include media(small-down) {
    width: 280px;
  }
}

.img-bird1 {
  top: 52em;
  right: 20em;
  @include media(large-down) {
    top: 48em;
    right: 15em;
  }
  @include media(medium-down) {
    top: 30em;
    right: 27em;
  }
  @include media(small-down) {
    top: 50em;
    left: 0;
  }
}

.img-bird2 {
  top: 18em;
  right: -2em;
  @include media(large-down) {
    top: 14em;
  }
  @include media(medium-down) {
    top: 10em;
    right: 0em;
  }
  @include media(small-down) {
    top: 25em;
  }
}

//lists//
.list--lg {
  font-size: 1.12em;
}

dl { margin-bottom: 0;}
dt, dd {display: inline-block;}
dt { margin-right: .5em; }

.list--bullet {
  li {
    margin-left: 1em;
    list-style-type: disc;
  }
}

.wrapper--projects {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4em;
}

.wrapper--projects-col {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  margin-right: 3%;
  @include media(xsmall-only) {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 100%;
  }
}

.wrapper--projects-col2 {
  margin-top: -5em;
}

.project {
  margin-bottom: 1.5em;
  img {
    max-width: 100%;
  }
}

.project--label {
  margin-left: .7em;
  margin-bottom: .7em;
  opacity: 0.5;
  font-weight: 300;
}

.header--contact {
  background-image: url("../assets/whale-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 2834px;
  z-index: 1;
  margin-top: -20em;
  @include media(large-down) {
    min-height: 2100px;
    margin-top: 0em;
  }
  @include media(small-down) {
    min-height: 1500px;
    background-position: right;
  }
  @include media(xsmall-only) {
    min-height: 1000px;
  }
}

.contact--content {
  width: 47%;
  float: right;
  padding-top: 52.5em;
  @include media(large-down) {
    padding-top: 39em;
  }
  @include media(medium-down) {
    padding-top: 27em;
  }
  @include media(small-down) {
    padding-top: 20em;
  }
  @include media(xsmall-only) {
    padding-top: 17.5em;
    width: 53%;
  }
}

//spacing//
.margin-bottom--md {
  margin-bottom: 1.5em;
}
