
nav {
  float: right;
  li {
    float: right;
    text-transform: lowercase;
    margin-left: 2em;
  }
}

header {
  z-index: 2;
  position: relative;
}

.block--title {
  float: left;
  h1 {
    float: left;
    margin: .5em 1em .5em 0;
    border-right: 1px solid #C8BDBC;
    padding-right: 1em;
    a, a:visited {
      color: $base-header-color;
    }
    span {
      display: block;
      letter-spacing: .03em;
      &:first-of-type {
        font-family: $logo-font-family-1;
        font-size: .87em;
        text-transform: lowercase;
      }
      &:last-of-type {
        font-family: $logo-font-family-2;
        font-size: 1em;
        text-transform: uppercase;
        margin-top: -.15em;
      }
    }
  }
  .block--title--subtitle {
    float: left;
    width: 45%;
    margin-top: 1.3em;
    line-height: 1.6em;
  }
}

.header--home {
  background-image: url("../assets/img-homepage-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  margin-top: -6em;
  position: relative;
  z-index: 1;
  border-bottom: 6px solid $light-grey;
  background-position: 20% 0%;
  h1 {
    font-size: 3.8em;
    position: absolute;
    bottom: 1.6em;
    width: 15%;
    line-height: 1.1em;
    text-transform: lowercase;
    right: 22%;
  }
}

.section {
  padding: 10em 0;
}

.section--centered {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font-family: $heading-font-family;
  font-weight: normal;
  color: $base-header-color;
  letter-spacing: -.03em;
  margin: 0 0 1em;
  line-height: 1em;
}

.withDescription {
  margin-bottom: .2em;
}

.intro-copy {
  font-size: 1.3em;
  width: 50%;
  margin: 0 auto 3em;
  line-height: 1.8em;
}

.body-copy--lg {
  font-size: 1.17em;
  line-height: 1.7em;
}

.header--xlarge {
  font-size: 4.6em;
}

.header--large {
  font-size: 4em;
}

.header--medium {
  font-size: 3.429em;
}

.button {
  border: 4px solid $blue-color;
  padding: 1em 2em .8em;
  font-family: $heading-font-family;
  color: $blue-color;
  text-transform: uppercase;
  display: inline-block;
}

.button--dark {
  color: $base-header-color;
  border: 4px solid $base-header-color;
}

footer {
  background-image: url("../assets/img-footer.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  margin-top: 5em;
}

.footer--content {
  position: absolute;
  top: 8em;
  right: 20%;
  width: 31%;
}

.project-thumb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  position: relative;
  margin-bottom: 3em;
  img {
    display: block;
    position: absolute;
  }
}

.project-thumb--center {
  left: 0;
  right: 0;
  margin: auto;
}

.project-thumb--center-vert {
  top: 0;
  bottom: 0;
  margin: auto;
}

.project-thumb--lg {
  height: 525px;
  margin-right: 4%;
  width: 55%;
}

.project-thumb--tall {
  height: 688px;
  width: 38%;
}

.project-thumb--sm {
  height: 384px;
  width: 38%;
}

.project-thumb--red {
  background-color: $red-color;
}

.project-thumb--green {
  background-color: $green-color;
}

.project-thumb--orange {
  background-color: $orange-color;
  margin-top: 141px;
}

.project-thumb--blue {
  background-color: $blue-color;
}
