@import 'settings/variables.scss';
@import 'settings/mixins.scss';

.project-thumb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  position: relative;
  margin-bottom: 3em;
  overflow: hidden;
  img {
    display: block;
    position: absolute;
  }
}

.project-thumb--center {
  left: 0;
  right: 0;
  margin: auto;
}

.project-thumb--center-vert {
  top: 0;
  bottom: 0;
  margin: auto;
}

.project-thumb--center-bottom {
  bottom: 0;
  margin: auto;
}

.project-thumb--lg {
  height: 525px;
  margin-right: 4%;
  width: 55%;
  @include media(small-down) {
    height: 325px;
  }
  @include media(xsmall-only) {
    width: 100%;
  }
}

.project-thumb--tall {
  height: 688px;
  width: 38%;
  @include media(small-down) {
    height: 438px;
  }
  @include media(xsmall-only) {
    width: 100%;
    height: 488px;
  }
}

.project-thumb--sm {
  height: 384px;
  width: 38%;
  @include media(small-down) {
    height: 225px;
  }
  @include media(xsmall-only) {
    width: 100%;
    height: 325px;
  }
}

.project-thumb--red {
  background-color: $red-color;
}

.project-thumb--green {
  background-color: $green-color;
}

.project-thumb--orange {
  background-color: $orange-color;
  margin-top: 141px;
  @include media(small-down) {
    margin-top: 0px;
    margin-top: 100px;
  }
  @include media(xsmall-only) {
    margin-top: 0px;
  }
}

.project-thumb--blue {
  background-color: $blue-color;
}


.projects {
  h1 {
    margin: 2em 0 2em;
    width: 65%;
    @include media(small-down) {
      width: 100%;
    }
  }
}

.projects {
  .project--up {
    margin-top: -4em;
    @include media(small-down) {
      margin-top: 0em;
    }
  }
  .project-thumb {
    width: 30%;
    margin-right: 4%;
    overflow: hidden;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    @include media(small-down) {
      width: 45%;
      &:nth-of-type(3n) {
        margin-right: 4%;
      }
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @include media(xsmall-only) {
      width: 100%;
    }
  }
  .project-thumb--sm {
    height: 295px;
  }
  &:nth-of-type(4n) {
    clear: left;
  }
}

.intro--project {
  font-size: 1.86em;
  line-height: 1.6em;
}

.header--internal {
  margin-top: -6.3em;
  min-height: 600px;
  background-size: 822px 555px;
  background-repeat: no-repeat;
  background-position: right bottom;
  h1 {
    padding-top: 4em;
    width: 70%;
  }
  .intro--project {
    color: rgba(255,255,255,.8);
    margin-bottom: 1.8em;
    display: block;
  }
  .ali-tags {
    width: 55%;
    li {
      color: #fff;
      padding: 0em 1em;
      display: inline-block;
      font-family: $heading-font-family;
      font-size: .86em;
      margin-right: .8em;
      margin-bottom: .8em;
      background-color: #F67171;
    }
  }
}

.header--internal--white {
  .intro--project {
    color: rgba($base-header-color,.8);
  }
}

.header--red {
  background-color: $red-color;
  .ali-tags {
    li {
      background-color: #F67171;
    }
  }
}

.header--blue {
  background-color: $blue-color;
  .ali-tags {
    li {
      background-color: lighten($blue-color, 10%);
    }
  }
}

.header--red, .header--green, .header--blue {
  h1 {
    color: #fff;
  }
}

.header--internal--wapo {
  background-image: url("../assets/wapo-header.jpg");
  h1 {
    padding-top: 3.5em;
    width: 55%;
  }
}

.header--internal--sy {
  background-image: url("../assets/sy-header.jpg");
}

.header--internal--satsummit {
  background-image: url("../assets/satsummit-header.jpg");
}

.body--internal {
  padding: 6em 0;
}

.body--compressed-width {
  width: 70%;
  margin: 0 auto;
}

.figure--left {
  padding: 3em;
  img {
    float: left;
    margin-right: 2em;
  }
  figcaption {
    float: left;
    display: block;
    width: 25%;
  }
}
