@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i');

/* Colors
   ========================================================================== */
                                //
$blue-color: #46AEBB;                                //
$green-color: #B1C94B;
$red-color: #F75B5B;
$orange-color: #F87E50;
$link-color: #F3B09C;

$background-color-light: #FBFBFB;
$base-header-color: #234159;
$light-grey: #EBEBEB;
$text-body: #343E3D;


/* Typography
   ==========================================================================*/
@font-face {
  font-family: 'latoitalic';
  src: url('../assets/fonts/lato-italic-webfont.woff2') format('woff2'),
      url('../assets/fonts/lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../assets/fonts/lato-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'latosemibold';
  src: url('../assets/fonts/lato-semibold-webfont.woff2') format('woff2'),
      url('../assets/fonts/lato-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$base-font-family: "latoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-regular: "latoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-semibold: "latosemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-light: "latolight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: $base-font-light;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-color: $text-body;

$heading-font-family: 'Playfair Display', Georgia, serif;
$heading-font-bold: 700;
$heading-font-italic: 400i;

/* Rows */
$row-min-width: 320px;
$row-max-width: 1280px;


/* Media queries */
$xsmall-range: (0, 543px);
$small-range: (544px, 799px);
$medium-list-range: (800px, 915px);
$medium-range: (800px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);
