@import url("https://use.typekit.net/tix4lsc.css");

/* Colors
   ========================================================================== */
                                //
$blue-color: #46AEBB;                                //
$green-color: #8BC544;
                            //
$dark-text-color: #292929;
$med-text-color: #595757;
$light-text-color: #6F6F6F;

$background-color-light: #FBFBFB;
$base-font-color: #595757;
$base-header-color: #352425;
$light-grey: #EBEBEB;

/* Typography
   ==========================================================================*/
@font-face {
  font-family: 'barlow_condensedregular';
  src: url('../assets/fonts/barlowcondensed-regular-webfont.woff2') format('woff2'),
      url('../assets/fonts/barlowcondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('../assets/fonts/lato-italic-webfont.woff2') format('woff2'),
      url('../assets/fonts/lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../assets/fonts/lato-regular-webfont.woff2') format('woff2'),
      url('../assets/fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latosemibold';
  src: url('../assets/fonts/lato-semibold-webfont.woff2') format('woff2'),
      url('../assets/fonts/lato-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quincy_cfitalic';
  src: url('../assets/fonts/quincycf-italic-webfont.woff2') format('woff2'),
      url('../assets/fonts/quincycf-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quincy_cfregular';
  src: url('../assets/fonts/quincycf-regular-webfont.woff2') format('woff2'),
      url('../assets/fonts/quincycf-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$base-font-family: "latoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-regular: "latoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-semibold: "latosemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: $base-font-regular;
$base-font-size: 1rem;
$base-line-height: 1.5;

$heading-font-family: 'ltc-bodoni-175', Georgia, serif;

$logo-font-family-2: 'barlow_condensedregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$logo-font-family-1: 'quincy_cfitalic', Georgia, serif;

/* Rows */
$row-min-width: 320px;
$row-max-width: 1280px;


/* Media queries */
$xsmall-range: (0, 543px);
$small-range: (544px, 799px);
$medium-list-range: (800px, 915px);
$medium-range: (800px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);
